<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Storage</title>
</head>
<body>
<form th:method="POST" th:action="@{/storage/{id}/update(id=${storage.getId()})}" th:object="${storage}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="amount">Enter amount: </label>
    <input type="number" th:field="*{number}" id="amount"/>
    <input type="hidden" th:field="*{id}" id="id"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>