<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Inventory</title>
</head>
<body>
<form th:method="POST" th:action="@{/inventory/create}" th:object="${inventory}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="name">Enter amount: </label>
    <input type="number" th:field="*{amount}" id="amount"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>